[Unit]
Description=System Log Writer Service
After=multi-user.target

[Service]
Type=simple
ExecStart=%h/Documents/25D/L2/Repo4/bin/system-log-writer.py
WorkingDirectory=%h/Documents/25D/L2/Repo4
Restart=always
RestartSec=5
User=%i
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
